@font-face {
	font-family:'Roboto';
	src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family:'Roboto';
	src: url('/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
	font-family:'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}